<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="false" debug="false">
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%t] %p - %m %n</pattern>
        </encoder>
    </appender>

    <logger name="mt.com.bank" level="INFO"/>

</configuration>
